
<h1>Azure Bookstore</h1>

  <%= render "books/book_stub" %>
  #make the book stubs render as hoverable images, with title/author text popup, clearly clickable to expand to whole page overlay

  <%= render "home/head_foot/footer" %>
